body {
    background-color: white;
}

#landing_page_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    padding: 0;
}

#landing_page_login div#login-container {
    border: black solid 3px;
    border-radius: 10px;
    padding: 20% 10% 20% 10%;
    width: 30vw;
    background-color: white;
}