h1{
    font-family: Lucida Grande;
    background-color: #666666;
    -webkit-background-clip: text;
	-moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

body{
    background-color: #000000;
    color: #FFFFFF;
    font-family: Lucida Grande;
    font-size: 14px;
    line-height: 1.5em;
}
