<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {%  if session %}
        <p><a href="/testlogout">Logout</a></p>
        <h1>Welcome</h1>
        <h2 id="timer"></h2>

        <div><pre>{{ pretty }}</pre></div>
    {% else %}
        <p><a href="/testlogin">Login</a></p>
    {% endif %}
</body>
<script type="application/javascript">
    const timerElement = document.getElementById('timer');
    let timer = 15;
    setInterval(() => {
        timerElement.innerText = `${timer}s`;
        timer--;
        if (timer === 0) {
            timer = 15;
        }
        else if (timer === 3) {
            {% if session %}
                {% set _ = session.update({"token": fetch_new_token}) %}
            {% endif %}
        }
    }, 1000);
</script>
</html>